{% extends 'base.html.twig' %}

{% block title %}Space Blog | Créer un nouvel article
{% endblock %}

{% block body %}
	{# Lien pour retourner à l'accueil #}
	<a class="text-decoration-none btn btn-space mx-3" href="{{ path('app_accueil') }}">
		Retour
	</a>

	<section
		class="container">
		{# Si l'utilisateur est connecter #}
		{% if app.user %}
			{# Et si son role est = à admin alors afficher le formulaire de création#}
			{% if app.user.roles[0] == "ROLE_ADMIN" %}
				<h1>Ajouter un nouvelle article</h1>


				{{ include('articles/_form.html.twig') }}
			{% else %}
				<h1>Vous n'avez pas la permission de créer un article</h1>
			{% endif %}


		{% endif %}
	</section>


{% endblock %}
