<footer class="bg-space d-flex justify-content-center align-items-center">
	<div class="column text-center">

		<img class="img-fluid" src="{{asset('asset/img/logo_footer.png')}}" alt="Logo SpaceBlog">


		<p class="p-3">
			<small>Copyright &copy;
				{{ 'now'|date('Y') }}
				- Space Blog -
				<a target="_blank" class="text-decoration-none text-white" href="https://thomas-torrente.fr">Thomas Torrente</a>
			</small>
		</p>
	</div>

</footer>
