<header class="d-flex align-items-center">

	<nav class="container">
		<a class="text-decoration-none" href="{{path('app_accueil')}}">
			<img class="img-fluid" src="{{asset('asset/img/logo_header.png')}}" alt="Logo SpaceBlog">
			<span class="text-space mx-3 fs-3">SpaceBlog</span>
		</a>

	</nav>

</header>
